.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
}

.titleContainer{
    display: flex;
    justify-content: center;
    gap:20px;
}

.sectionTitle {
    color: rgba(255, 255, 255, 0.6);
    font-family: Geologica,serif;
}

.mainHeading {
    color: rgba(255, 255, 255, 1);
    letter-spacing: -0.01em;
    max-width: 507px;
    font-family: Magistral,sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    background-image: linear-gradient(86.45deg, #FFFFFF 36.69%, rgba(255, 255, 255, 0.2) 132.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.choose{
    font-family: Magistral,sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    background-image: linear-gradient(180deg, rgba(113, 95, 255, 0.6) 0%, #715FFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (min-width: 320px) {
    .titleContainer{
        gap:10px;
    }
    .sectionTitle {
        width: 254px;
        height: 18px;
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
    }
    .mainHeading {
        font-size: 30px;
    }
    .choose{
        font-size: 30px;
    }
}


@media (min-width: 768px) {
    .titleContainer{
        gap:18px;
    }
    .sectionTitle {
        width: 254px;
        height: 18px;
        font-weight: 300;
        font-size: 17px;
        line-height: 18px;
        text-align: center;
    }
    .mainHeading {
        font-size: 55px;
    }
    .choose{
        font-size: 55px;
    }
}
@media (min-width: 991px) {
    .sectionTitle {
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
    }
    .mainHeading {
        font-size: 60px;
    }
    .choose{
        font-size: 60px;
    }
}




