@font-face {
    font-family: 'Magistral';
    src: url('/src/assets/font/Magistral-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Magistral';
    src: url('/src/assets/font/Magistral-Medium.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 45px 100px;
}
.heading {
    position : relative;
    color: #ffffff;
    margin-bottom: 37px;
    width: 586px;
    align-self: start;
}
.text{
    font-family: Magistral,serif;
    background-image: linear-gradient(86.45deg, #FFFFFF 36.69%, rgba(255, 255, 255, 0.2) 132.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.img{
    position: absolute;
    width: 166px;
    height: 50px;
    right: 140px;
    bottom: 0;
}
.maskImg{
    position: absolute;
    width: 109px;
    height: 82px;
    right: 170px;
    bottom: -32px;
}
.descriptionContainer{
    width: 100%;
    display: flex;
    justify-content: right;
}
.description {
    color: rgba(255, 255, 255, 0.5);
    width: 536px;
    text-align: left;
}
@media (min-width: 320px) {
    .heading {
        position : relative;
        color: #ffffff;
        margin-bottom: 37px;
        width: 320px;
        align-self: center;
    }
    .text{
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
    }
    .description {
        align-self: center;
        width: 320px;
        font: 300 14px "Geologica", sans-serif;

    }
    .containerImg{
        position: static;
        width: 135px;
        height: 66px;
    }
    .maskImg{
        width: 80px;
        height: 53px;
        right: 215px;
        bottom: -25px;
    }
    .img{
        width: 135px;
        height: 40px;
        right: 190px;
        bottom: -12px;
    }
}
@media (min-width: 768px) {
    .heading {
        position : relative;
        color: #ffffff;
        margin-bottom: 37px;
        width: 586px;
        align-self: start;
    }
    .text{
        font-weight: 400;
        font-size: 28px;
        line-height: 33px;
    }
    .descriptionContainer{
        width: 100%;
        display: flex;
        justify-content: right;
    }
    .description {
        width: 50%;
        font: 300 14px "Geologica", sans-serif;

    }
    .containerImg{
        position: static;
        width: 0;
        height: 0;
    }
    .maskImg{
        width: 80px;
        height: 53px;
        right: 85px;
        bottom: -25px;
    }
    .img{
        width: 135px;
        height: 40px;
        right: 60px;
        bottom: -12px;
    }
}
@media (min-width: 990px) {
    .text{
        font-weight: 400;
        font-size: 48px;
        line-height: 58px;
    }
    .descriptionContainer{
        width: 100%;
        display: flex;
        justify-content: right;
    }
    .heading {
        position: relative;
        color: #ffffff;
        margin-bottom: 37px;
        width: 922px;
        align-self: start;
    }
    .description {
        width: 50%;
        font: 300 16px/24px "Geologica", sans-serif;
    }
    .containerImg{
        position: static;
        width: 0;
        height: 0;
    }
    .maskImg{
        width: 109px;
        height: 82px;
        right: 135px;
        bottom: -32px;
    }
    .img{
        width: 166px;
        height: 50px;
        right: 110px;
        bottom: 0;
    }
}
@media (min-width: 1500px) {
     .container{
         max-width: 1320px;
     }
     .text{
         font-weight: 600;
         font-size: 48px;
         line-height: 58px;
     }
    .heading {
        position: relative;
        color: #ffffff;
        margin-bottom: 37px;
        width: 922px;
        align-self: start;
    }
     .descriptionContainer{
         width: 100%;
         display: flex;
         justify-content: right;
     }
     .description {
         width: 50%;
         text-align: left;
         font: 300 30px "Geologica", sans-serif;
     }
 }
