.container{
    width: 400px;
    height: 620px;
}
.imageWrapper {
    width: 400px;
    height: 620px;
}
.image {
    object-fit: contain;
    object-position: center;
    border-radius: 50px;
}
.imageBackGround {
    position: absolute;
    opacity: 75%;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
}
.imageSoldier{
    position: absolute;
    left: -50px;
    top: 70px;
}

@media (min-width: 320px) {
    .container{
        justify-content: center;
        width: 320px;
        height: 732px;
        left: 8%;
    }
    .imageWrapper {
        width: 320px;
        height: 732px;
    }
    .image {
        position: absolute;
        width: 320px;
        height: 231px;
        border-radius: 26px;
        left: 0;
        top:-5px;
    }
    .imageBackGround {
        width: 320px;
        height: 223px;
        border-radius: 26px;
        left: 0;
        top:-1px;
    }
    .imageSoldier{
        width: 170px;
        height: 320px;
        left: 8%;
        top: 25px;
    }
    .imageSoldierDestiny2{
        position: absolute;
        width: 180px;
        height: 269px;
        top: -15px;
        left: 80px;
    }
    .imageSoldierCoDMW2{
        position: absolute;
        width: 124px;
        height: 262px;
        top: -11px;
        left: 155px;
    }
    .imageSoldierWarzone{
        position: absolute;
        width: 126px;
        height: 271px;
        top: -15px;
        left: 105px;
    }
    .imageSoldierBlackOps{
        position: absolute;
        width: 116px;
        height: 267px;
        top: -15px;
        left: 165px;
    }
    .imageSoldierCoDMW3{
        position: absolute;
        width: 128px;
        height: 276px;
        top: -20px;
        left: 90px;
    }
    .imageSoldierSM2{
        position: absolute;
        width: 201px;
        height: 261px;
        top: -6px;
        left: 75px;
    }
    .imageSoldierBlackOpsZombies{
        position: absolute;
        width: 138px;
        height: 282px;
        top: -17px;
        left: -5px;
    }
}

@media (min-width: 768px) {
    .container{
        justify-content: center;
        height: 360px;
        width: 248px;
        left: 8%;
    }
    .imageWrapper {
        width: 248px;
        height: 360px;
    }
    .image {
        position: absolute;
        width: 248px;
        height: 360px;
        left: -7px;
        top:0;
        border-radius: 26px;
    }
    .imageBackGround {
        width: 234px;
        height: 362px;
        left: 0;
        border-radius: 26px;
    }
    .imageSoldier{
        width: 165px;
        height: 350px;
        left: -40px;
        top: 20px;
    }
    .imageSoldierDestiny2{
        position: absolute;
        width: 258px;
        height: 354px;
        top: 55px;
        left: -10px;
    }
    .imageSoldierCoDMW2{
        position: absolute;
        width: 186px;
        height: 398px;
        top: 7px;
        left: 90px;
    }
    .imageSoldierWarzone{
        position: absolute;
        width: 193px;
        height: 418px;
        top: -15px;
        left: 64px;
    }
    .imageSoldierBlackOps{
        position: absolute;
        width: 173px;
        height: 407px;
        top: -5px;
        left: 80px;
    }
    .imageSoldierCoDMW3{
        position: absolute;
        width: 185px;
        height: 398px;
        top: 10px;
        left: 80px;
    }
    .imageSoldierSM2{
        position: absolute;
        width: 279px;
        height: 362px;
        top: 27px;
        left: -15px;
    }
    .imageSoldierBlackOpsZombies{
        position: absolute;
        width: 194px;
        height: 400px;
        top: 1px;
        left: -50px;
    }
}

@media (min-width: 992px) {
    .container{
        justify-content: center;
        height: 360px;
        width: 248px;
        left: 8%;
    }
    .imageWrapper {
        width: 248px;
        height: 360px;
    }
    .image {
        position: absolute;
        width: 248px;
        height:360px;
        left: -7px;
        top:0;
        border-radius: 26px;
    }
    .imageBackGround {
        width: 234px;
        height: 363px;
        left: 0;
        border-radius: 26px;
    }
    .imageSoldier{
        width: 165px;
        height: 350px;
        left: -40px;
        top: 20px;
    }
    .imageSoldierDestiny2{
        position: absolute;
        width: 258px;
        height: 354px;
        top: 55px;
        left: -10px;
    }
    .imageSoldierCoDMW2{
        position: absolute;
        width: 186px;
        height: 398px;
        top: 7px;
        left: 90px;
    }
    .imageSoldierWarzone{
        position: absolute;
        width: 193px;
        height: 418px;
        top: -15px;
        left: 64px;
    }
    .imageSoldierBlackOps{
        position: absolute;
        width: 173px;
        height: 407px;
        top: -5px;
        left: 80px;
    }
    .imageSoldierCoDMW3{
        position: absolute;
        width: 185px;
        height: 398px;
        top: 10px;
        left: 80px;
    }
    .imageSoldierSM2{
        position: absolute;
        width: 279px;
        height: 362px;
        top: 27px;
        left: -15px;
    }
    .imageSoldierBlackOpsZombies{
        position: absolute;
        width: 194px;
        height: 400px;
        top: 1px;
        left: -50px;
    }
}

@media (min-width: 1200px) {
    .container{
        display: inline;
        height: 620px;
        max-height: 705px;
        width: 85%;
        left: 8%;
    }
    .imageWrapper {
        width: 400px;
        height: 620px;
    }
    .image {
        position: static;
        width: 100%;
        height: 100%;
    }
    .imageBackGround {
        width: 400px;
        height: 642px;

        left: 0;
        border-radius: 50px;
    }
    .imageSoldier{
        width: 277px;
        height: 567px;
        left: -50px;
        top: 70px;
    }
    .imageSoldierDestiny2{
        position: absolute;
        width: 430px;
        height: 643px;
        top: 66px;
        left:0;
    }
    .imageSoldierCoDMW2{
        position: absolute;
        width: 266px;
        height: 569px;
        top: 122px;
        left: 195px;
    }
    .imageSoldierWarzone{
        position: absolute;
        width: 276px;
        height: 596px;
        top: 105px;
        left: 160px;
    }
    .imageSoldierBlackOps{
        position: absolute;
        width: 248px;
        height: 573px;
        top: 125px;
        left: 160px;
    }
    .imageSoldierCoDMW3{
        position: absolute;
        width: 263px;
        height: 568px;
        top: 125px;
        left: 160px;
    }
    .imageSoldierSM2{
        position: absolute;
        width: 398px;
        height: 517px;
        top: 150px;
        left: 0;
    }
    .imageSoldierBlackOpsZombies{
        position: absolute;
        width: 277px;
        height: 567px;
        top: 135px;
        left: -70px;
    }
}

@media (min-width: 1500px) {
    .container{
        width: 400px;
        height: 620px;
    }
    .imageWrapper {
        width: 400px;
        height: 620px;
    }
    .image {
        width: 400px;
        height: 620px;
        border-radius: 26px;
    }
    .imageBackGround {
        width: 400px;
        height: 622px;
        left: 0;
        border-radius: 50px;
    }
    .imageSoldier{
        width: 277px;
        height: 567px;
        top: 0;
        left:0;
    }
    .imageSoldierDestiny2{
        position: absolute;
        width: 430px;
        height: 643px;
        top: 66px;
        left:0;
    }
    .imageSoldierCoDMW2{
        position: absolute;
        width: 319px;
        height: 682px;
        top: 12px;
        left: 155px;
    }
    .imageSoldierWarzone{
        position: absolute;
        width: 331px;
        height: 715px;
        top: -8px;
        left: 129px;
    }
    .imageSoldierBlackOps{
        position: absolute;
        width: 298px;
        height: 688px;
        top: 6px;
        left: 125px;
    }
    .imageSoldierCoDMW3{
        position: absolute;
        width: 298px;
        height: 682px;
        top: 15px;
        left: 150px;
    }
    .imageSoldierSM2{
        position: absolute;
        width: 478px;
        height: 620px;
        top: 47px;
        left: -45px;
    }
    .imageSoldierBlackOpsZombies{
        position: absolute;
        width: 332px;
        height: 680px;
        top: 15px;
        left: -85px;
    }
}