.inputWrapper {
    position: relative;
}
.inputLabel {
    position: absolute;
    font-family: Geologica,serif;
    color: rgba(255, 255, 255, 0.6);
}
.inputField {
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);
    box-shadow: none;
}
.inputField:focus  + .inputLabel {
    color: rgba(255, 255, 255, 0.6);
}

@media(min-width: 320px){
    .inputWrapper {
        font-size: 20px;
    }
    .inputLabel {
        left: 0;
        bottom: -35%;
        width: 250px;
        height: 30px;
        font-weight: 300;
        font-size: 13px;
        line-height: 11px;
    }
    .inputField {
        padding: 0;
        width: 262px;
        font-size: 16px;
        -webkit-appearance: none;
        appearance: none;
        border: none;
        border-radius: 0;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px solid rgba(255, 255, 255, 0.6);
        outline: none;
        box-shadow: none;
    }
    .inputField:focus  + .inputLabel {
        top: -18px;
        font-size: 10px;
    }
}

@media(min-width: 768px){
    .inputWrapper {
        font-size: 20px;
    }
    .inputLabel {
        left: 0;
        bottom: 0;
        width: 250px;
        height: 30px;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
    }
    .inputField {
        padding: 0;
        width: 292px;
        font-size: 13px;
    }
    .inputField:focus  + .inputLabel {
        top: -15px;
        font-size: 11px;
    }
}

@media(min-width: 992px) {
    .inputWrapper {
        font-size: 20px;
    }
    .inputLabel {
        left: 0;
        bottom: -20%;
        width: 250px;
        height: 30px;
        font-weight: 300;
        font-size: 16px;
        line-height: 10px;
    }
    .inputField {
        padding-top: 16px ;
        width: 90%;
        font-size: 16px;
    }
    .inputField:focus  + .inputLabel {
        top: -8px;
        font-size: 15px;
    }
}

@media(min-width: 1200px) {
    .inputWrapper {
        font-size: 20px;
    }
    .inputLabel {
        left: 0;
        bottom: 0;
        width: 250px;
        height: 30px;
        font-weight: 300;
        font-size: 18px;
        line-height: 15px;
    }
    .inputField {
        padding: 0;
        width: 90%;
        font-size: 16px;
    }
    .inputField:focus  + .inputLabel {
        top: -25px;
        font-size: 15px;
    }
}

@media(min-width: 1500px) {
    .inputWrapper {
        font-size: 20px;
    }
    .inputLabel {
        left: 0;
        bottom: -20%;
        width: 250px;
        height: 30px;
        font-weight: 300;
        font-size: 20px;
        line-height: 0;
    }
    .inputField {
        padding: 0;
        width: 90%;
        font-size: 20px;
    }
    .inputField:focus  + .inputLabel {
        top: -25px;
        font-size: 15px;
    }
}