.inputWrapper {
    position: relative;
}
.inputLabel {
    position: absolute;
    font-family: Geologica,serif;
    color: rgba(255, 255, 255, 0.6);
}
.inputField {
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);
}
.inputField:focus  + .inputLabel {
    color: rgba(255, 255, 255, 0.6);
}

@media(min-width: 320px){
    .inputWrapper {
        font-size: 20px;
    }
    .inputLabel {
        left: 0;
        bottom: 20%;
        width: 250px;
        height: 30px;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
    }
    .inputField {
        padding: 0;
        border-radius: 3px;
        width: 262px;
        font-size: 20px;
    }
    .inputField:focus  + .inputLabel {
        top: -15px;
        font-size: 11px;
    }
}

@media(min-width: 768px){
    .inputWrapper {
        font-size: 20px;
    }
    .inputLabel {
        left: 0;
        bottom: 20%;
        width: 250px;
        height: 30px;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
    }
    .inputField {
        padding: 0;
        border-radius: 3px;
        width: 292px;
        font-size: 20px;
    }
    .inputField:focus  + .inputLabel {
        top: -15px;
        font-size: 11px;
    }
}

@media(min-width: 968px) {
    .inputWrapper {
        font-size: 20px;
    }
    .inputLabel {
        left: 0;
        bottom: 50%;
        width: 250px;
        height: 30px;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
    }
    .inputField {
        padding: 12px;
        border-radius: 3px;
        width: 90%;
        font-size: 20px;
    }
    .inputField:focus  + .inputLabel {
        top: -25px;
        font-size: 15px;
    }
}

@media(min-width: 1200px) {
    .inputWrapper {
        font-size: 20px;
    }
    .inputLabel {
        left: 0;
        bottom: 50%;
        width: 250px;
        height: 30px;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
    }
    .inputField {
        padding: 12px;
        border-radius: 3px;
        width: 90%;
        font-size: 20px;
    }
    .inputField:focus  + .inputLabel {
        top: -25px;
        font-size: 15px;
    }
}

@media(min-width: 1500px) {
    .inputWrapper {
        font-size: 20px;
    }
    .inputLabel {
        left: 0;
        bottom: 50%;
        width: 250px;
        height: 30px;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
    }
    .inputField {
        padding: 12px;
        border-radius: 3px;
        width: 90%;
        font-size: 20px;
    }
    .inputField:focus  + .inputLabel {
        top: -25px;
        font-size: 15px;
    }
}